<div class="box span4">
    <div class="inner">
        <h3>Lesson One</h3>
        <h4>Basic Commands and Workflow</h4>
        <p>In this lesson, you will learn the basic workflow of using git commands in an already existing Git project.</p>
    </div>
</div>
<div class="box span4">
    <div class="inner">
        <h3>Git Status</h3>
        <div class="git-status"></div>
    </div>
</div>
<div class="box span4">
    <div class="inner">
        <h3>Branches</h3>
        <p>Show a visualisation of the branches</p>
    </div>
</div>
